body {
    margin: 0;
}
.maindiv {
    display:flex;
    justify-content:  space-around;
    
}
.images {
    display : flex;
    

}
.changing {
    padding:100px;
    border: solid  #B82E10;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    background-color:#110403;
    color: #141286;
    font-family: 'Raleway', sans-serif;
}
.subclass{
    padding:100px;
    border: solid #B82E10;
    margin-top:50px;
    margin-bottom: 50px;
    margin-right: 10px;
    background-color:#FAFAFB  ;
    color:#2724CD;
    font-family: 'Raleway', sans-serif;
}
.modification{
    background-color:#A371A5 ;
    width: 100px;
    border: 1px solid white;
    padding: 10px;
    margin: 1px;
}
